@font-face {
    font-family: "nanumMyeongjo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumMyeongjo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumMyeongjo";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nanumMyeongjo/nanumMyeongjo-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
.nanumMyeongjo {
    font-family: "nanumMyeongjo";
}
.nanumMyeongjo400 {
    font-family: "nanumMyeongjo";
    font-weight: 400;
}
.nanumMyeongjo700 {
    font-family: "nanumMyeongjo";
    font-weight: 700;
}
.nanumMyeongjo800 {
    font-family: "nanumMyeongjo";
    font-weight: 800;
}
